<header class="header">
  <h1 class="header__title">Weather PWA</h1>
  <button id="butRefresh" class="headerButton" aria-label="Refresh"></button>
  <button id="butAdd" (click)="onOpenModal()" class="headerButton" aria-label="Add"></button>
</header>

<main class="main">
  <app-card
    *ngFor="let card of cards"
    [card]="card"
  ></app-card>
</main>

<div
*ngIf="loading"
class="loader">
  <svg viewBox="0 0 32 32" width="32" height="32">
    <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
  </svg>
</div>

<app-city-modal
  (add)="onAdd($event)"
></app-city-modal>

